.rotate-wrapper {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    display: block;
    width: 100%;
}


#projects-imgs {
    width: 100%;
    columns: 5;
    -webkit-column-count: 5;
    /* Safari column count */
    column-count: 5;
    /* Standard property */
    column-gap: 0.8rem;
    -webkit-column-gap: 0.8rem;
    /* Safari column gap */
    display: block;
    flex-shrink: 0;
    transform: none !important;
}


#projects-imgs img {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.8rem;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    vertical-align: bottom;
    image-rendering: -webkit-optimize-contrast;
    height: auto;
    will-change: transform;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transition: transform 0.3s ease-in-out;
}
